
body {
	color: #FFFFFF;
    background-color: #666666;
}

.navbar-default {
	background-color: #333333;
	border-color: #333333;
	border-bottom: thin solid #99ccff;
	color: #FFFFFF;
}
.navbar-default .navbar-brand {
	color: #FFFFFF;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #b34700;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #99ccff;
	background-color: transparent;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #99ccff;
	background-color: #666666;
	
}
	
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-retroorange {
	color: #FFFFFF;
  	background: #99ccff;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-retroorange {
  	color: #FFFFFF;
  	background: #333333;
}

.tab-content{
	/*background-color: red;*/
	position: absolute;
	left:		0;
	top:		0;
	right:		0;
	bottom:		0;
	margin:		0% 3% 3% 3%;
}

#monitorPanel{
	/*background-color: yellow;*/
	position: absolute;
	left:		0;
	top:		0;
	right:		0;
	bottom:		0;
	margin:		3% 3% 3% 3%;
	
}

#controlPanel{
	/*background-color: green;*/
	position: absolute;
	left:		0;
	top:		0;
	right:		0;
	bottom:		0;
	margin:		3% 3% 3% 3%;
	
}
.wrapper {
  width: 150px;
  height: 150px;
  margin: 60px auto;
  position: relative;
}

label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #b25244;
  background: linear-gradient(#b25244, #5e1912);
  position: relative;
  color: #a5a39d;
  font-size: 70px;
  text-align: center;
  line-height: 150px;
  transition: all 0.3s ease-out;
  text-shadow: 0 2px 1px rgba(0,0,0,0.25);
  z-index: -1;
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 20px 8px rgba(0,0,0,0.3),
    0 10px 10px 4px rgba(0,0,0,0.3);
}

label:after {
   content: ""; 
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  z-index: -2;
  border-radius: inherit;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.1),
    0 1px 2px rgba(0,0,0,0.3),
    0 0 10px rgba(0,0,0,0.15);
  
}

label:before {
   content: ""; 
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  z-index: -1;
  border-radius: inherit;
  box-shadow: inset 0 10px 10px rgba(0,0,0,0.13); 
  -webkit-filter:blur(1px);
  filter: blur(1px); 
}

input:checked ~ label {
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.4),
    0 5px 8px rgba(0,0,0,0.35),
    0 3px 10px 4px rgba(0,0,0,0.2);
  color: #9abb82;
} 

.icon-off:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -35% 0 0 -35%;
  border-radius: 50%;
  background: linear-gradient(#8a2c20, #9e4235);
  box-shadow:
    0 -2px 5px rgba(255,255,255,0.05),
    0 2px 5px rgba(255,255,255,0.1);
  -webkit-filter:blur(1px);
  filter: blur(1px); 
}

input[type='checkbox'] {
   display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  position: absolute;
  cursor: pointer;
}


@font-face{
 font-family:'digital-clock-font';
 src: url("/fonts/digital-7/digital-7.ttf");
}

.digitalOff {
    font-family: "digital-clock-font";
    font-size: 50pt;
    color: #333333;

    
}

.digitalOn {
	font-family: "digital-clock-font";
    font-size: 50pt;
    text-align: center;
    color: #99ccff;
}

input[type='number'] {
    -moz-appearance:textfield;
}


#c2 {
	font-family: "digital-clock-font";
	text-align: center;
	width: 100%;
	height: 150px;
    font-size: 70pt;
    background-color: #666666;
    border: none;
}

/**/

/*
Fuchsia
#ff00ff

lightblue
#99ccff

light yellow
#ffff66
light-grey: #666666;
dark-grey: #333333;
burnt orange: #b34700
*/
